.history-header {
  display: flex;
  align-items: center;        
  justify-content: space-between; 
  padding: 50px;
}

.history-header h1 {
  width: 350px;   
}

.history-item {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd; 
    cursor: pointer;
}

.history-item:last-child {
    border-bottom: none;
}

.query {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    display: block;
}

.date{
    display: block;
    font-size: 13px;
    color: #666;
}
.time {
    display: block;
    font-size: 13px;
    color: #666;
}

.history-item:hover {
    background-color: #f5f5f5;
}