body {
  font-family: Arial;
}

#prod {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}